<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>BruteForce</title>
</head>
<body>

    <%- include("../presets/header") %>

    <div class="center">
        <div class="file-link">
            <a href="/data/bruteforce.py" download class="download-link">Get Script</a>
        </div>
        <form action="" method="post">
            <h1>Brute Force</h1> 
            <input type="text" placeholder="Enter Password" autocomplete="off" id="password" name="password">
            <button type="submit">Enter</button>
        </form>
        <div class="tips">
            <p><span title="Führe das gedownloadete Script 'bruteforce.py' entweder mit Visual Studio Code oder der Eingabeaufforderung aus.">Tip 1</span></p>
        </div>
    </div>
</body>
</html>