<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Missing Permission</title>
</head>
<body>

    <%- include("../presets/header") %>

    <div class="center">
        <h2>You dont have the permissions! Go<a href="/">back</a>to main page.</h2> 
        <div class="tips">
            <p><span title="Inspiziere wieder die Seite mit F12 oder links-click und Untersuchen. Jetzt suche nach den Cookies der Seite.">Tip 1</span></p>
            <p><span title="Vergrößere das geöffnete Fenster falls nötig um den Tab 'Speicher' zu finden. Da sollten die Cookies gelistet sein unter dem Reiter: Cookies">Tip 2</span></p>
            <p><span title="Entweder überspringst du die Aufgabe indem du das Value von 'progress' auf 4 erhöhst. Oder du änderst das Value von 'is_auth' zu 'true' und lädst die Seite neu.">Tip 3</span></p>
        </div>
    </div>
</body>
</html>