<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>EXE Editor</title>
</head>
<body>
    
    <%- include("../presets/header") %>

    <div class="center">
        <div class="file-link">
            <a href="/data/main.exe" download class="download-link">Get main.exe</a>
        </div>
        <form action="" method="post">
            <input type="text" name="password" id="password" placeholder="Enter Password">
            <button type="submit">Enter</button>
        </form>
        <div class="tips">
            <p><span title="Gehe mithilfe der Eingabeaufforderung in den Ordner indem die 'main.exe' ist. (Eingabeaufforderung öffnen, 'cd ./Desktop/{dein_ordner}').">Tip 1</span></p>
            <p><span title="Führe den folgenden Befehl aus: 'strings ./main.exe > string_output.txt'. Jetzt sollte ein Textdokument in dem Ordner sein mit allen möglichen Strings aus der .exe.">Tip 2</span></p>
            <p><span title="Das Passwort beinhaltet: 'word'. (Damit du es schneller findest indem du mit STRG + F danach suchst)">Tip 3</span></p>
        </div>
    </div>

</body>
</html>