<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Main</title>
</head>
<body>

    <%- include('./presets/header') %>

    <div class="center">
        <h1>Main Page</h1>
        <div class="content-box">
            <% if (progress >= 0) { %>
            <span class="list-span">&#8226;     <a href="/html">HTML</a>                                </span>
            <% } if (progress >= 1) { %>
            <span class="list-span">&#8226;     <a href="/password">Password Attack</a>                 </span>
            <% } if (progress >= 2) { %>
            <span class="list-span">&#8226;     <a href="/extraction">Compiled Data Extraction</a>      </span>
            <% } if (progress >= 3) { %>
            <span class="list-span">&#8226;     <a href="/auth">Cookie Manipulation</a>                 </span>
            <% } if (progress >= 4) { %>
            <span class="list-span">&#8226;     <a href="/phishing">Phishing</a>                            </span>
            <% } %>
        </div>
    </div>
</body>
</html>