<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>HTML</title>
</head>
<body>

    <%- include('../presets/header') %>

    <div class="center">
        <form action="" method="post">
            <button type="submit" disabled>Continue</button>
        </form>
    <div class="infos">
        <p><span title="Drücke F12 oder links-click und Untersuchen um den HTML Code zu sehen.">Tip 1</span></p>
        <p><span title="Öffne die Tabs im HTML Code und finde dadurch den Button">Tip 2</span></p>
        <p><span title="Der Button hat den Tag 'disabled'. Entferne das 'disabled' und drücke auf den Button auf der Seite.">Tip 3</span></p>
    </div>
    </div>
    <div hidden>name=kevin;passwort=passwort1234</div>



    <script>
        function get_db_data(datenbank) {
            console.log(`Getting data from: ${datenbank}`)
        }
    </script>
</body>
</html>